*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #194d5a;
}

.dashboard-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #194d5a;
  font-family: "Playwrite NZ Basic", sans-serif;
  padding: 40px 20px;
}

.dashboard-container {
  width: 100%;
  max-width: 480px;
  background-color: #e8f4f7;
  padding: 40px;
  border-radius: 2rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.dashbaard-header h2 {
  color: #194d5a;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.dashboard-header p {
  color: #555;
  font: size 0.9rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
}

.dashboard-container .menu-group {
  margin-bottom: 1rem;
}

.menu-link {
  display: block;
  width: 100%;
  background-color: white;
  color: #194d5a;
  text-decoration: none;
  padding: 15px;
  border: 2px solid #d1e3e7;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 12px;
  transition:
    all 0,
    3s ease;
}

.menu-link:hover {
  border-color: #194d5a;
  box-shadow: 0 0 8px rgba(25, 77, 90, 0.2);
  transform: translateY(-3px);
}

.btn-logout {
  display: block;
  width: 100%;
  background-color: #194d5a;
  color: white;
  text-decoration: none;
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  cursor: pointer;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

.btn-logout:hover {
  background-color: #d64545;
  color: #000;
  transform: translateY(-3px);
}

.admin-layout {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 30px;
  min-height: 100vh;
  background-color: #194d5a;
  padding: 40px;
  box-sizing: border-box;
}

.sidebar {
  width: 320px;
  flex-shrink: 0;
  background-color: #e8f4f7;
  border-radius: 2rem;
  padding: 40px 30px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.main-content {
  flex-grow: 1;
  background-color: #e8f4f7;
  border-radius: 2rem;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.menu-link.active {
  background-color: #194d5a;
  color: white;
  border-color: #194d5a;
}

@view-transition {
  navigation: auto;
}

.dashboard-container {
  view-transition-name: main-box;
}

.sidebar {
  view-transition-name: main-box;
}

.main-content {
  view-transition-name: content-box;
}

::view-transition-new(content-box) {
  animation: fade-slide-in 0.4s ease;
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
